:root {
    --clr-text-url: #525bad;
    --clr-text-url-visited: #783c94;
    
    --clr-white: #FFFFFF;
    --clr-almost-white: #F0F0F0;
    --clr-dim-white: #d8d8d8;
    --clr-light-gray: #cdcdcd;
    --clr-grey: #666666;
    --clr-dark-grey: #333333;
    --clr-almost-black: #111111;
    --clr-black: #000000;
    
    --clr-text-normal: var(--clr-almost-white);
    --clr-text-dim: var(--clr-dim-white);
    --clr-text-unimportant: var(--clr-grey);
    --clr-text-highlighted: var(--clr-highlight);
    --clr-text-code: var(--clr-light-saturated-5);
    --clr-text-key: var(--clr-light-saturated-shift-8);
    
    --clr-hr: var(--clr-dark-grey);
    --clr-border-main: var(--clr-dark-grey);
    
    --clr-background-highlighted: var(--clr-dark-saturated-shift-2);
    --clr-background-main: var(--clr-dark-5);
    --clr-background-element: var(--clr-dark-saturated-5);
    --clr-background-sub-element: var(--clr-dark-3);
    --clr-background-sub-sub-element: var(--clr-dark-4);

    --clr-background-hljs: var(--clr-dark-4);
}

html[data-theme="th06"] {
    --clr-light-saturated-10: #ffb0b0;
    --clr-light-saturated-9: #ffbfbf;
    --clr-light-saturated-8: #e58383;
    --clr-light-saturated-7: #d57373;
    --clr-light-saturated-5: #cc6d6d;
    --clr-saturated-shift: #da0b0b;
    --clr-light-saturated-shift-5: #ff3b3b;
    --clr-light-saturated-shift-8: #ff0000;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #613640;
    --clr-dark-saturated-shift-2: #401220;
    --clr-dark-saturated-2: #382230;
    --clr-dark-saturated-5: #2c0b0b;
    --clr-dark-3: #180606;
    --clr-dark-4: #100203;
    --clr-dark-5: #1c0000;
    
    --clr-default: #862525;
}

html[data-theme="th08"] {
    --clr-light-saturated-10: #b0b5ff;
    --clr-light-saturated-9: #bfd5ff;
    --clr-light-saturated-8: #8386E5;
    --clr-light-saturated-7: #737ad5;
    --clr-light-saturated-5: #736dcc;
    --clr-saturated-shift: #0b0eda;
    --clr-light-saturated-shift-5: #3b3eff;
    --clr-light-saturated-shift-8: #0400ff;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #424163;
    --clr-dark-saturated-shift-2: #101f3d;
    --clr-dark-saturated-2: #1e1b31;
    --clr-dark-saturated-5: #0e1129;
    --clr-dark-3: #060b1d;
    --clr-dark-4: #03040f;
    --clr-dark-5: #020618;
    
    --clr-default: #5a5abe;
}

html[data-theme="th10"] {
    --clr-light-saturated-10: #feffb0;
    --clr-light-saturated-9: #feffbf;
    --clr-light-saturated-8: #e3e583;
    --clr-light-saturated-7: #d3d573;
    --clr-light-saturated-5: #ccc66d;
    --clr-saturated-shift: #dabb0b;
    --clr-light-saturated-shift-5: #fff23b88;
    --clr-light-saturated-shift-8: #ffee00;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #606341;
    --clr-dark-saturated-shift-2: #394012;
    --clr-dark-saturated-2: #373822;
    --clr-dark-saturated-5: #252812;
    --clr-dark-3: #1c1a08;
    --clr-dark-4: #0f0f03;
    --clr-dark-5: #181502;
    
    --clr-default: #8b8647;
}

html[data-theme="th125"] {
    --clr-light-saturated-10: #e2b0ff;
    --clr-light-saturated-9: #fdbfff;
    --clr-light-saturated-8: #c683e5;
    --clr-light-saturated-7: #c173d5;
    --clr-light-saturated-5: #b66dcc;
    --clr-saturated-shift: #b80bda;
    --clr-light-saturated-shift-5: #ef3bff;
    --clr-light-saturated-shift-8: #ea00ff;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #604163;
    --clr-dark-saturated-shift-2: #371240;
    --clr-dark-saturated-2: #362238;
    --clr-dark-saturated-5: #251228;
    --clr-dark-3: #1a081c;
    --clr-dark-4: #0f030f;
    --clr-dark-5: #150218;
    
    --clr-default: #85478b;
}

html[data-theme="th13"] {
    --clr-light-saturated-10: #b0b2ff;
    --clr-light-saturated-9: #bfffff;
    --clr-light-saturated-8: #8386E5;
    --clr-light-saturated-7: #7386D5;
    --clr-light-saturated-5: #6d7fcc;
    --clr-saturated-shift: #0b8ada;
    --clr-light-saturated-shift-5: #3BB9FF;
    --clr-light-saturated-shift-8: #00ffff;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #414363;
    --clr-dark-saturated-shift-2: #123840;
    --clr-dark-saturated-2: #222538;
    --clr-dark-saturated-5: #121C28;
    --clr-dark-3: #08101C;
    --clr-dark-4: #03050F;
    --clr-dark-5: #020C18;
    
    --clr-default: #47748b;
}

html[data-theme="th143"] {
    --clr-light-saturated-10: #ffb0b0;
    --clr-light-saturated-9: #f0bfff;
    --clr-light-saturated-8: #e58383;
    --clr-light-saturated-7: #d57373;
    --clr-light-saturated-5: #cc6d6d;
    --clr-saturated-shift: #da0b0b;
    --clr-light-saturated-shift-5: #ff3b3b;
    --clr-light-saturated-shift-8: #ff00aa;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #634141;
    --clr-dark-saturated-shift-2: #401225;
    --clr-dark-saturated-2: #222538;
    --clr-dark-saturated-5: #281219;
    --clr-dark-3: #1c080e;
    --clr-dark-4: #0f0306;
    --clr-dark-5: #180202;

    --clr-default: #8b4747;
}

html[data-theme="th15"] {
    --clr-light-saturated-10: #e0b3ff;
    --clr-light-saturated-9: #e2bfff;
    --clr-light-saturated-8: #b683e5;
    --clr-light-saturated-7: #9d73d5;
    --clr-light-saturated-5: #966dcc;
    --clr-saturated-shift: #7d0bda;
    --clr-light-saturated-shift-5: #963bff;
    --clr-light-saturated-shift-8: #6f00ff;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #504163;
    --clr-dark-saturated-shift-2: #2a1240;
    --clr-dark-saturated-2: #2d2238;
    --clr-dark-saturated-5: #1c1228;
    --clr-dark-3: #12081c;
    --clr-dark-4: #08030f;
    --clr-dark-5: #0a0218;
    
    --clr-default: #6a478b;
}

html[data-theme="th16"] {
    --clr-light-saturated-10: #b0ffb7;
    --clr-light-saturated-9: #d1ffbf;
    --clr-light-saturated-8: #8be583;
    --clr-light-saturated-7: #73d588;
    --clr-light-saturated-5: #6dcc89;
    --clr-saturated-shift: #4cda0b;
    --clr-light-saturated-shift-5: #4bff3b;
    --clr-light-saturated-shift-8: #48ff00;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #41634e;
    --clr-dark-saturated-shift-2: #124014;
    --clr-dark-saturated-2: #243822;
    --clr-dark-saturated-5: #132812;
    --clr-dark-3: #0a1c08;
    --clr-dark-4: #030f06;
    --clr-dark-5: #021802;
    
    --clr-default: #498b47;
}

html[data-theme="th165"] {
    --clr-light-saturated-10: #c444ff;
    --clr-light-saturated-9: #9520e4;
    --clr-light-saturated-8: #9b29e7;
    --clr-light-saturated-7: #9530d8;
    --clr-light-saturated-5: #9837da;
    --clr-saturated-shift: #9d0cf1;
    --clr-light-saturated-shift-5: #b831f7;
    --clr-light-saturated-shift-8: #cc00ff;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #564163;
    --clr-dark-saturated-shift-2: #350f4d;
    --clr-dark-saturated-2: #29063d;
    --clr-dark-saturated-5: #2d003b;
    --clr-dark-3: #1c002c;
    --clr-dark-4: #10001d;
    --clr-dark-5: #100020;
    
    --clr-default: #841cad;
}

html[data-theme="th185"] {
    --clr-light-saturated-10: #ffae44;
    --clr-light-saturated-9: #e47820;
    --clr-light-saturated-8: #e79529;
    --clr-light-saturated-7: #d87c30;
    --clr-light-saturated-5: #da9337;
    --clr-saturated-shift: #f1730c;
    --clr-light-saturated-shift-5: #f7a131;
    --clr-light-saturated-shift-8: #ff5e00;
    
    --clr-contrast: #FF92FA;
    --clr-highlight: #e278f5;
    --clr-greyish-blend: #635441;
    --clr-dark-saturated-shift-2: #4d2d0f;
    --clr-dark-saturated-2: #362408;
    --clr-dark-saturated-5: #2e1b04;
    --clr-dark-3: #251704;
    --clr-dark-4: #160d02;
    --clr-dark-5: #1d1103;
    
    --clr-default: #a86d3c;
}