:root {
    --clr-pastel-blue: #ffb0b0;
    --clr-saturated-blue: #e58383;
    --clr-discord-blue: #d57373;
    --clr-discord-purple: #cc6d6d;
    --clr-ocean-blue: #da0b0b;
    --clr-sky-blue: #ff3b3b;
    --clr-aqua-blue: #ff0000;
    --clr-celeste-blue: #ffbfbf;
    
    --clr-pastel-pink: #FF92FA;
    --clr-pink: #e278f5;
    --clr-grey-cyan: #634149;
    --clr-dark-cyan: #40122e;
    --clr-dark-blue: #382234;
    --clr-dark-teal: #2c0b0b;
    --clr-black-blue: #180606;
    --clr-blacker-blue: #100203;
    --clr-blackest-blue: #1c0000;
    
    --clr-default: #862525;
    --clr-text-url: #525bad;
    --clr-text-url-visited: #783c94;
    
    --clr-white: #FFFFFF;
    --clr-almost-white: #F0F0F0;
    --clr-dim-white: #d8d8d8;
    --clr-light-gray: #cdcdcd;
    --clr-grey: #666666;
    --clr-dark-grey: #233343;
    --clr-almost-black: #111111;
    --clr-black: #000000;
    
    --clr-text-normal: var(--clr-almost-white);
    --clr-text-dim: var(--clr-dim-white);
    --clr-text-unimportant: var(--clr-grey);
    --clr-text-highlighted: var(--clr-pink);
    --clr-text-code: var(--clr-discord-purple);
    --clr-text-key: var(--clr-aqua-blue);
    
    --clr-hr: var(--clr-dark-grey);
    --clr-border-main: var(--clr-dark-grey);
    
    --clr-background-highlighted: var(--clr-dark-cyan);
    --clr-background-main: var(--clr-blackest-blue);
    --clr-background-element: var(--clr-dark-teal);
    --clr-background-sub-element: var(--clr-black-blue);
    --clr-background-sub-sub-element: var(--clr-blacker-blue);
}