:root {
    --clr-pastel-blue: #b0b2ff;
    --clr-saturated-blue: #8386E5;
    --clr-discord-blue: #7386D5;
    --clr-discord-purple: #6d7fcc;
    --clr-ocean-blue: #0b8ada;
    --clr-sky-blue: #3BB9FF;
    --clr-aqua-blue: #00ffff;
    --clr-celeste-blue: #bfffff;
    
    --clr-pastel-pink: #FF92FA;
    --clr-pink: #e278f5;
    --clr-grey-cyan: #414363;
    --clr-dark-cyan: #123840;
    --clr-dark-blue: #222538;
    --clr-dark-teal: #121C28;
    --clr-black-blue: #08101C;
    --clr-blacker-blue: #03050F;
    --clr-blackest-blue: #020C18;
    
    --clr-default: #47748b;
    --clr-text-url: #525bad;
    --clr-text-url-visited: #783c94;
    
    --clr-white: #FFFFFF;
    --clr-almost-white: #F0F0F0;
    --clr-dim-white: #d8d8d8;
    --clr-light-gray: #cdcdcd;
    --clr-grey: #666666;
    --clr-dark-grey: #233343;
    --clr-almost-black: #111111;
    --clr-black: #000000;
    
    --clr-text-normal: var(--clr-almost-white);
    --clr-text-dim: var(--clr-dim-white);
    --clr-text-unimportant: var(--clr-grey);
    --clr-text-highlighted: var(--clr-pink);
    --clr-text-code: var(--clr-discord-purple);
    --clr-text-key: var(--clr-aqua-blue);
    
    --clr-hr: var(--clr-dark-grey);
    --clr-border-main: var(--clr-dark-grey);
    
    --clr-background-highlighted: var(--clr-dark-cyan);
    --clr-background-main: var(--clr-blackest-blue);
    --clr-background-element: var(--clr-dark-teal);
    --clr-background-sub-element: var(--clr-black-blue);
    --clr-background-sub-sub-element: var(--clr-blacker-blue);
}