:root {
    --clr-pastel-blue: #feffb0;
    --clr-saturated-blue: #e3e583;
    --clr-discord-blue: #d3d573;
    --clr-discord-purple: #ccc66d;
    --clr-ocean-blue: #dabb0b;
    --clr-sky-blue: #fff23b88;
    --clr-aqua-blue: #ffee00;
    --clr-celeste-blue: #feffbf;
    
    --clr-pastel-pink: #FF92FA;
    --clr-pink: #e278f5;
    --clr-grey-cyan: #606341;
    --clr-dark-cyan: #394012;
    --clr-dark-blue: #373822;
    --clr-dark-teal: #252812;
    --clr-black-blue: #1c1a08;
    --clr-blacker-blue: #0f0f03;
    --clr-blackest-blue: #181502;
    
    --clr-default: #8b8647;
    --clr-text-url: #525bad;
    --clr-text-url-visited: #783c94;
    
    --clr-white: #FFFFFF;
    --clr-almost-white: #F0F0F0;
    --clr-dim-white: #d8d8d8;
    --clr-light-gray: #cdcdcd;
    --clr-grey: #666666;
    --clr-dark-grey: #233343;
    --clr-almost-black: #111111;
    --clr-black: #000000;
    
    --clr-text-normal: var(--clr-almost-white);
    --clr-text-dim: var(--clr-dim-white);
    --clr-text-unimportant: var(--clr-grey);
    --clr-text-highlighted: var(--clr-pink);
    --clr-text-code: var(--clr-discord-purple);
    --clr-text-key: var(--clr-aqua-blue);
    
    --clr-hr: var(--clr-dark-grey);
    --clr-border-main: var(--clr-dark-grey);
    
    --clr-background-highlighted: var(--clr-dark-cyan);
    --clr-background-main: var(--clr-blackest-blue);
    --clr-background-element: var(--clr-dark-teal);
    --clr-background-sub-element: var(--clr-black-blue);
    --clr-background-sub-sub-element: var(--clr-blacker-blue);
}