:root {
    --clr-pastel-blue: #e2b0ff;
    --clr-saturated-blue: #c683e5;
    --clr-discord-blue: #c173d5;
    --clr-discord-purple: #b66dcc;
    --clr-ocean-blue: #b80bda;
    --clr-sky-blue: #ef3bff;
    --clr-aqua-blue: #ea00ff;
    --clr-celeste-blue: #fdbfff;
    
    --clr-pastel-pink: #FF92FA;
    --clr-pink: #e278f5;
    --clr-grey-cyan: #604163;
    --clr-dark-cyan: #371240;
    --clr-dark-blue: #362238;
    --clr-dark-teal: #251228;
    --clr-black-blue: #1a081c;
    --clr-blacker-blue: #0f030f;
    --clr-blackest-blue: #150218;
    
    --clr-default: #85478b;
    --clr-text-url: #525bad;
    --clr-text-url-visited: #783c94;
    
    --clr-white: #FFFFFF;
    --clr-almost-white: #F0F0F0;
    --clr-dim-white: #d8d8d8;
    --clr-light-gray: #cdcdcd;
    --clr-grey: #666666;
    --clr-dark-grey: #233343;
    --clr-almost-black: #111111;
    --clr-black: #000000;
    
    --clr-text-normal: var(--clr-almost-white);
    --clr-text-dim: var(--clr-dim-white);
    --clr-text-unimportant: var(--clr-grey);
    --clr-text-highlighted: var(--clr-pink);
    --clr-text-code: var(--clr-discord-purple);
    --clr-text-key: var(--clr-aqua-blue);
    
    --clr-hr: var(--clr-dark-grey);
    --clr-border-main: var(--clr-dark-grey);
    
    --clr-background-highlighted: var(--clr-dark-cyan);
    --clr-background-main: var(--clr-blackest-blue);
    --clr-background-element: var(--clr-dark-teal);
    --clr-background-sub-element: var(--clr-black-blue);
    --clr-background-sub-sub-element: var(--clr-blacker-blue);
}