@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
:root {
  --discord-lightblue: #8386E5;
  --discord-blue: #7386D5;
  --discord-purple: #6d7fcc;
  --url: #6873D8;
  --url-visited: #934BB4;
  --almost-white: #FAFAFA;
  --white: #FFFFFF;
  --pink: #FF92FA;
  --dark-blue: #222538;
  --default: #47748B;
  --dark-teal: #121C28;
  --grey: #233343;
  --black: #000000;
  --almost-black: #111111;
  --black-blue: #08101C; }

::-webkit-scrollbar-track {
  background: var(--almost-black); }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

a.article,
a.article:hover {
  background: var(--discord-purple) !important;
  color: var(--white) !important; }

a.download {
  background: var(--white);
  color: var(--discord-blue); }

a[data-toggle="collapse"] {
  position: relative; }

b, strong {
  font-weight: bold;
  background-color: rgba(16, 0, 243, 0); }

body {
  font-family: 'Poppins', sans-serif;
  background: var(--almost-white); }

button {
  cursor: pointer;
  background-color: inherit;
  border-width: 0;
  padding: 0;
  top: -1px; }

code {
  font-size: 90.0%;
  color: var(--pink);
  word-break: break-word; }

hr {
  border-color: #BBBBCC; }

hr.hr_minor {
  border-color: var(--grey); }

html {
  scrollbar-color: var(--default) var(--almost-black);
  scrollbar-width: thin;
  -webkit-text-size-adjust: auto;
  background: var(--almost-black); }

ol {
  counter-reset: item;
  padding-left: 20px; }

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: var(--white); }

td {
  padding-left: 4px;
  padding-right: 4px; }

th {
  border-bottom: 0.2px solid var(--grey);
  padding-bottom: 2px; }

th, tr {
  text-align: center;
  padding: 8px;
  border: 0px;
  font-weight: normal;
  font-size: 14px;
  color: var(--white);
  opacity: 0.9;
  font-family: sans-serif; }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 20px !important;
  background: #08101C; }

ul ul ul a {
  font-size: 0.8em !important;
  padding-left: 40px !important;
  background: #03050F; }

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 10px; }

ul.CTAs {
  padding: 20px; }

.all-wr-tables {
  border: solid #08101C 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  background-color: var(--dark-teal); }
  .all-wr-tables th {
    padding-bottom: 10px;
    padding-top: 10px; }
  .all-wr-tables tr {
    border-top: 1px solid var(--default);
    font-size: 16px;
    transition-duration: 0.5s; }
  .all-wr-tables tr:hover {
    background-color: #08101C; }
  .all-wr-tables tr:nth-child(1) {
    background-color: var(--default); }
  .all-wr-tables td:nth-child(3) {
    text-align: left; }
  .all-wr-tables td {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px; }

.box {
  color: var(--white);
  font-size: 16px;
  padding: 8px 12px 8px 12px;
  border-radius: 0px;
  border-color: #414363;
  border-width: 1px;
  border-style: solid;
  margin: 10px 20px 10px 20px; }

.button-text {
  padding-left: 13px;
  text-align: right; }

.card-game {
  background-color: lime; }

.code {
  font-size: 82.5%;
  background-color: #191919;
  color: #d9ddf1;
  word-break: break-word;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  display: inline-block;
  white-space: pre-wrap;
  padding: 4px 0px 0px 4px; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

.fit-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.github {
  background-color: var(--discord-blue);
  color: var(--white); }

.highlight-bg {
  background-color: #123840; }

.highlight-txt {
  color: #b0b2ff; }

.icon {
  height: 24px;
  width: 24px;
  transform: scale(1.5);
  position: center;
  top: .125em;
  flex-shrink: 0;
  transition: fill .3s;
  vertical-align: middle; }

.icon-bullet {
  transform: scale(0.65);
  background-image: url(assets/bullet.svg); }

.icon-calendar {
  transform: scale(0.7);
  background-image: url(assets/calendar.svg); }

.icon-cross {
  background-image: url(assets/cross.svg);
  transform: scale(1);
  /*makes it white*/
  filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(160deg) brightness(101%) contrast(102%); }

.icon-github {
  background-image: url(assets/brand-github.svg); }

.icon-hamburger {
  background-image: url(assets/hamburger.svg);
  transform: scale(0.8);
  /*makes it white*/
  filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(160deg) brightness(101%) contrast(102%); }

.icon-small {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

.icon-star {
  transform: scale(0.8);
  background-image: url(assets/star.svg); }

.icon-text {
  aspect-ratio: 1 / 1;
  width: 24px; }

.icon-trophy {
  transform: scale(0.7);
  background-image: url(assets/trophy.svg); }

.icon-user {
  transform: scale(0.7);
  background-image: url(assets/user.svg); }

.icon-youtube {
  background-image: url(assets/brand-youtube.svg); }

.invis {
  opacity: 0.0; }

.key {
  color: #5fffff; }

.left {
  text-align: left !important;
  padding-left: 0px; }

.left-border-color a, .left-border-color.dropdown-toggle {
  border: solid 4px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px; }

.left-border-color a:hover, .left-border-color.dropdown-toggle:hover {
  border-left-width: 12px; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

.navbar {
  padding: 15px 10px;
  background: var(--white);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none; }

.sidebar-class-mobile {
  max-width: 100%  !important;
  width: 100%; }

.tag {
  color: var(--white);
  display: inline-flex;
  align-items: stretch;
  margin: 2px;
  padding-left: 0.25em;
  padding-right: 0.25em; }
  .tag :hover {
    border-color: var(--pink); }
  .tag :before {
    padding-right: 0.25em;
    content: "⬡"; }
  .tag a {
    border: 1.5px solid var(--discord-lightblue); }
  .tag .selected {
    background-color: var(--discord-lightblue); }

.tags-bar {
  min-height: 40px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; }

.toc {
  color: var(--white);
  padding: 8px 12px 8px 12px;
  border-radius: 0px;
  border-color: #414363;
  border-width: 1px;
  border-style: solid;
  margin: 10px 20px 10px 20px;
  width: fit-content; }
  .toc li {
    display: block; }
  .toc li:before {
    content: counters(item, ".") " ";
    counter-increment: item; }

.url, .url-toc {
  color: var(--url);
  text-decoration: underline; }

.url:visited {
  color: var(--url-visited); }

.wr-shottype-buttons {
  font-size: 14px;
  color: var(--discord-purple); }

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #020c18; }

.youtube {
  background-color: var(--discord-blue);
  color: var(--white); }

#button {
  background-color: var(--discord-lightblue);
  border-top-right-radius: 4em;
  border-top-left-radius: 4em;
  height: 6em;
  margin-left: -4em;
  width: 7em;
  transform: rotate(90deg); }

#content {
  flex: 1;
  width: 100%;
  padding-top: 30px;
  padding-right: 6vw;
  padding-bottom: 20px;
  padding-left: 6vw;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #020c18;
  display: flex;
  justify-content: center; }

#header {
  margin-top: -5vmax;
  height: 5vmax;
  position: fixed;
  width: 100%;
  background-color: var(--dark-teal);
  z-index: 1;
  transition: all 0.3s;
  margin-left: 250px;
  border-bottom: 1px solid var(--discord-blue);
  display: table; }
  #header button {
    position: absolute;
    height: inherit;
    aspect-ratio: 1 / 1; }
  #header h5 {
    text-align: center;
    padding-top: 0px;
    color: var(--almost-white); }

#maximum {
  max-width: calc(min(1280px, 88vw));
  justify-content: center; }

#mdcontent {
  opacity: 1;
  overflow-wrap: break-word; }
  #mdcontent h1, #mdcontent h2, #mdcontent h3, #mdcontent h4, #mdcontent h5, #mdcontent h6, #mdcontent p, #mdcontent li {
    color: var(--white);
    opacity: 0.9;
    font-family: sans-serif; }
  #mdcontent p, #mdcontent li {
    font-family: sans-serif;
    font-size: 0.9em; }

#search {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 50px; }

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: var(--dark-teal);
  color: var(--white);
  transition: all 0.3s;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  z-index: 2;
  scrollbar-color: var(--default) var(--almost-black);
  scrollbar-width: thin; }
  #sidebar .sidebar-header {
    padding: 20px;
    background: var(--dark-teal); }
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block; }
    #sidebar ul li a:hover {
      color: var(--discord-blue);
      background: var(--black); }
  #sidebar ul li ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block; }
    #sidebar ul li ul li a:hover {
      color: var(--discord-blue);
      background: var(--black); }
  #sidebar ul li ul li.active > a {
    color: var(--white);
    background: #08101C; }
  #sidebar ul li.active > a {
    color: var(--black);
    background: var(--discord-purple); }
  #sidebar ul p {
    color: var(--white);
    padding: 10px; }
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--default);
    border-top: 1px solid var(--default); }

#sidebar.active {
  margin-left: -250px; }

#sidebar2 {
  visibility: hidden;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s; }

#table-scenes {
  overflow: auto; }

#table-scenes::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

#wr-buttons {
  scrollbar-color: var(--default) var(--almost-black);
  scrollbar-width: thin;
  display: grid;
  grid-gap: 10px;
  white-space: nowrap;
  grid-auto-flow: column; }

#wr-game-buttons {
  transition: all 0.3s;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: row;
  overflow: auto;
  white-space: nowrap;
  width: calc(100vw - 250px - 12vw); }
  #wr-game-buttons button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none; }

@media (max-aspect-ratio: 14 / 16), (max-width: 500px) {
  .sidebar-class-desktop {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  #sidebarCollapse span {
    display: none; }
  #header {
    margin-top: 0;
    margin-left: 0; }
  #header button {
    position: fixed; }
  #content {
    padding: 3vmax;
    margin-top: 5vw; }
  #wr-game-buttons {
    width: calc(100vw - 0px - 12vw); } }
